.singlepage{
    display: flex;
    height: 100%;
    .details{
        flex:3;
        overflow-y:scroll;
        scrollbar-width: none;
        padding-bottom: 50px;

        .wrapper{
            padding-right: 40px;

            .info{
                margin-top: 50px;
                .top{
                    display: flex;
                    justify-content: space-between;
                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        h1{
                            font-weight: 400px;
                        }
                        .address{
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #888;
                            font-size: 14px;

                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .price{
                            padding: 5px;
                            background-color: lightgoldenrodyellow;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                    .user{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 0px 50px;
                        border-radius: 10px;
                        background-color: lightgoldenrodyellow;
                        font-weight: 600;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                .bottom{
                    margin-top: 50px;
                    color: #555;
                    line-height: 20px;

                }
            }
        }
    }
        .features{
            flex:2;
            background-color: #fcf5f3;
            overflow-y:scroll;
            
            scrollbar-width: none;

            .wrapper{
                padding: 0px 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .title{
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                img{
                    height: 24px;
                    width: 24px;
                    margin-right: 10px;

                }

                .feature{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }

                .featureText{
                    span{
                        font-weight: bold;
                    }
                    p{
                        font-size: 15px;
                    }
                }

                .listVertical{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px 10px;
                    background-color: white;
                    border-radius: 10px;
                }

                .sizes{
                    display: flex;

                    .size{
                        background-color: white;
                        padding: 10px 7px;
                        margin: 10px;
                        border-radius: 10px;
                        
                        span{
                       
                            float:inline-end;
                         }

                         img{
                            height: 20px;
                            width: 20px;
                         }

                    }
                }

                .listHorizontal{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    padding: 20px 10px;
                    margin: 10px;
                    gap: 20px;
                    border-radius: 10px;
                    align-items: center;
                }

                .mapContainer{
                    width: 100%;
                    height: 200px;
                }

                .buttons{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 50px;

                    button{
                    display: flex;
                    padding: 20px;
                    align-items: center;
                    gap: 5px;
                    background-color: white;
                    border: 2px solid yellow;
                    cursor: pointer;

                    img{
                        width: 16px;
                        height: 16px;
                    }
                    }
                }
            }
        }
}